html {

    display: flex;
    background-image: url(../images/background.png);
    background-size: cover;
  }
  body {
    position: relative;
    margin: auto;
    width: 100%;
    height: 100vh;
  }
h1{
    position: absolute;
    top: 2vmin;
    left: 10vmin;
    z-index: 1;
}
  h1 img{
    
    width: 25vmin;
  }

.eevee img:hover{
    cursor: pointer;
    animation: bounce 2s ease infinite;
}

@keyframes bounce {
	0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
	40% {transform: translateY(-30px);}
	60% {transform: translateY(-15px);}
}



  .eevee{

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10vmin;
    border-radius: 100%;
    background: #CFBB98; 
    z-index: 2;
  }

  /* .eevee-clicked{
    
    padding: 85vmin;
    
  } */

  .eevee img{
    width: 35vmin;
  }
  
  .circle {  
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    grid-template-areas: "layer";
    place-items: center;
    background: none;
    border-radius: 50%;
    width: calc(2 * 40vmin);
    height: calc(2 * 40vmin);   
  }

  .stat img{
        width: 5vmin;
    }

  .stat {
    grid-area: layer;
    width: 10vmin;
    height: 10vmin;
    border-radius: 50%;
  
    display: grid;
    place-items: center;
  
    background: #ffc947;
    color: #185adb;
    font-weight: bold;
    font-size: 3vmin;
    
  }  

  .offset1{
    transform: translateX(40vmin);
    background: #DEF0F3;
  }

  .offset2{
    transform: translate(30vmin, 30vmin);
    background: #C0CF9C;
  }

  .offset3{
    transform: translateY(40vmin);
    background: #E98E33;
  }

  .offset4{
    transform: translate(-30vmin, 30vmin);
    background: #CDDF81;

  }

  .offset5{
    transform: translateX(-40vmin);
    background: #A7C7EA;
  }

  .offset6{
    transform: translateY(-40vmin);
    background: #FFCBF7;
  }
  
  
  